{% extends 'base.html' %}

{% block title %}
   ABOUT
{% endblock %}

{% block content %}
    <h1 class="text-center my-3">Welcome to BlipHip</h1>
    <h3 class="text-center my-2">Our Mission</h3>
    <p>
        I'm baby taiyaki wolf et, dolore try-hard forage pok photo booth tousled yr excepteur anim
        incididunt raw denim lorem. Gastropub qui shabby chic nisi Brooklyn pop-up. Tonx franzen everyday
        carry truffaut est, subway tile bushwick gastropub 8-bit cronut kombucha nulla. Eiusmod la croix
        knausgaard culpa yuccie succulents bicycle rights venmo. Nostrud tote bag tousled tumblr fanny
        pack mukbang.
    </p>
    <p>
        Meggings deep v fixie trust fund. Messenger bag whatever magna retro dolor cliché succulents
        readymade fingerstache VHS. Bruh typewriter schlitz pop-up edison bulb palo santo vibecession
        mixtape. Gochujang cillum gluten-free fam ex. Paleo tbh fam mlkshk. Dolore godard nisi sustainable
        next level shoreditch esse chillwave fanny pack aliqua affogato chartreuse four loko hell of
        vinyl. In sriracha vaporware, fixie small batch bicycle rights post-ironic chicharrones tofu
        neutra kickstarter tousled tumblr.
    </p>

    <h3 class="text-center my-2">Our Journey</h3>
    <p>
        Chuck Norris can slam a revolving door. Chuck Norris can have his cake and eat it, too. Chuck Norris
        is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs
        Chuck Norris can slice meat so thin is only has one side, When Chuck Norris sends in his taxes,
        he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck
        Norris has not had to pay taxes, ever Chuck Norris is the only man to ever defeat a brick wall in
        a game of tennis. Chuck Norris looks gift horses in the mouth. Chuck Norris doesn’t wear a watch.
        HE decides what time it is, The Great Wall of China was originally created to keep Chuck Norris out.
        It failed miserably.
    </p>
{% endblock %}