{% extends 'base.html' %}

{% block title %}
   HOME
{% endblock %}

{% block content %}
<section class=" my-5">
   <h1 class="w-50 intro my-4 mx-auto text-center"> Shop till you drop. They say it's therapeutic.</h1>

   <article class="mx-auto">
      <p class="my-2">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in facilisis libero, eget congue
         lorem. Nulla non ligula eget erat aliquam lacinia a eget felis. Nulla turpis sapien, ultricies
         sit amet suscipit quis, auctor id risus.
      </p>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in facilisis libero, eget congue
         lorem. Nulla non ligula eget erat aliquam lacinia a eget felis. Nulla turpis sapien, ultricies
         sit amet suscipit quis, auctor id risus.
      </p>
   </article>
</section>

{% endblock %}